// Specific CSS for your home-page
.home-container {
  padding: 40px;
  height: 100vh;
}

.home-title {
  margin-top: 10%;
  margin-left: 20%;
  h1 {
    font-size: 48px
  }
  p {
    font-weight: 300;
    font-size: 20px
  }
}

.currently {
  margin-top: 10%;
  margin-left: 60%;
}
