<div class="about-container">
  <h1>ABOUT</h1>

  <div class="about-photo">

  </div>

  <div class="about-description">
    <p>

    </p>
  </div>

  <div class="nav">
    <%= link_to "ABOUT", about_path, {:style=>'font-weight:700;'} %>
    <%= link_to "PORTFOLIO", portfolio_path %>
    <%= link_to "CONTACT", contact_path %>
  </div>
</div>

