<div class="contact-container">
  <h1>CONTACT</h1>
  <h6>Please feel free to reach out and chat!</h6>


  <div class="nav">
    <%= link_to "ABOUT", about_path %>
    <%= link_to "PORTFOLIO", portfolio_path %>
    <%= link_to "CONTACT", contact_path, {:style=>'font-weight:700;'}%>
    <%= link_to "TRAVEL", travel_path %>
  </div>
</div>
