<div class="gifter-container">
  <h1>GIFTER</h1>
  <div class="gifter-information">
    <div class="gifter-introduction">
      <h4>Introduction</h4>
      <p>During my two final weeks at Le Wagon, a 9-week intensive coding bootcamp, my team and I designed, implemented and shipped to production a Rails project. Gifter is a crowdfunding platform for gifts for kids.</p>
    </div>
    <div class="gifter-gallery">
      <h4>Wireframing</h4>
      <%= cl_image_tag("front_page", width: 300, length: 300) %>
      <%= cl_image_tag("sign_up", width: 300, length: 300) %>
      <%= cl_image_tag("sign_up_2", width: 300, length: 300) %>
      <%= cl_image_tag("event_dashboard", width: 300, length: 300) %>
    </div>
  </div>
</div>
