<div class="home-container">
  <div class="home-title">
    <h1>ALISA MING YI NG</h1>
    <p>Currently: UX/UI Designer, Front-End Web Developer</p>
  </div>

  <div class="nav">
    <%= link_to "ABOUT", about_path %>
    <%= link_to "PORTFOLIO", portfolio_path %>
    <%= link_to "CONTACT", contact_path %>
  </div>
</div>
